
@font-face {
    
    font-family: 'Cooper Hewitt Medium';
    src: url('../font/ch-medium.woff') format('woff');
}

@font-face {
    
    font-family: 'Cooper Hewitt Bold';
    src: url('../font/ch-bold.woff') format('woff');
}

html {
	
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
    
    font-family: 'Cooper Hewitt Medium', sans-serif;
    color: #3C3C3C;
    
    padding-bottom: 80px;
}

nav {
    
    display: block;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    
    background: #F00877; 
}

nav ul {
    
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
}

nav ul li {
    
    width: 33.33%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 2;
    
    text-align: center;
    line-height: 52px;
}

nav ul li a {
    
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #FFF;
}

nav ul li a.active {
    
    pointer-events: none;
}

.nav-progress {
    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 33.33%;
    height: 100%;
    
    background: #FF51A8;
}


div.resume, div.careers, div.facts {
    
    position: relative;
}

h1, h2, h3, h4 {
    
    font-family: 'Cooper Hewitt Bold', sans-serif;
}

h1 {
    
    display: block;
    padding-left: 0.4687em;
    padding-bottom: 1.05em;
    
    background: url('../img/resume-blue.svg') left no-repeat;
    background-position: 5% 50%;
    
    font-size: 3.5em;
    line-height: 1em;

    color: #FFFFFF;
    text-shadow: 0px 5px 15px rgba(10,11,34,0.90);
    
}

a {
    
    color: #F00877;
    text-decoration: none;
}


header {
    
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    padding: 0 1.875em;
    z-index: 999;
    
    line-height: 62px;
    text-align: right;
    
    background: #FFF;
    
    box-shadow: 0 1px 0 0 rgba(122, 125, 143, 0.25);;
}

header:after {
    
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 62px;
    background: rgba(221, 222, 226, 0.5);;
}

header a {
    
    font-family: 'Cooper Hewitt Bold', sans-serif;
    font-size: 1.125em;
}



section.howto {
    
    display: block;
    width: 100%;
    height: 170px;
    
    text-align: center;
    
    background: url('../img/resume-grey.svg'), linear-gradient(to bottom,  #f6f6f7 0%,#ffffff 100%);
    
    background-repeat: no-repeat, no-repeat;
    background-position: 110% -65%, top left;
/*
    background: #FFF;
    background: -moz-linear-gradient(top,  #f6f6f7 0%, #ffffff 100%), ;
    background: -webkit-linear-gradient(top,  #f6f6f7 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f6f6f7 0%,#ffffff 100%);
*/

}

section.howto p {
    
    position: relative;
    top: 35px;
    margin-top: 0.75em;
}

.comment {
    
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 999;
}

.comment a {
    
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    
    font-family: 'Cooper Hewitt Bold', sans-serif;
    font-size: 0.875em;
    text-align: center;
    line-height: 33px;
    color: #FFF;
    
    background: #FFAD11;
    box-shadow: 0px 1px 3px 0px #B13000;
}

.comment .pulse {
    
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;
    
    background: rgba(255,173,17,0.35);
    border: 1px solid rgba(255,173,17,0.50);
    opacity: 1;    

    animation-name: pulse, fade;
    animation-duration: 2s, 2s;
    animation-iteration-count: infinite, infinite;
}

.comment .pulse.del05 {
    
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;
    
    background: rgba(255,173,17,0.35);
    border: 1px solid rgba(255,173,17,0.50);
    opacity: 1;    

    animation-name: pulse, fade;
    animation-delay: 0.5s, 0.5s;
    animation-duration: 2s, 2s;
    animation-iteration-count: infinite, infinite;
}

.comment .pulse.del075 {
    
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;
    
    background: rgba(255,173,17,0.35);
    border: 1px solid rgba(255,173,17,0.50);
    opacity: 1;    

    animation-name: pulse, fade;
    animation-delay: 0.75s, 0.75s;
    animation-duration: 2s, 2s;
    animation-iteration-count: infinite, infinite;
}

.comment .pulse.del1 {
    
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;
    
    background: rgba(255,173,17,0.35);
    border: 1px solid rgba(255,173,17,0.50);
    opacity: 1;    

    animation-name: pulse, fade;
    animation-delay: 1s, 1s;
    animation-duration: 2s, 2s;
    animation-iteration-count: infinite, infinite;
}

.comment.big {
    
    display: block;
    position: relative;
    width: 90px;
    height: 90px;
    
    margin: 0 auto;
    top: 35px;
    
    border: 1px solid #CFD0D9;
    border-radius: 50%;
}

.comment.big a {
    
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 24px;
    left: 24px;
    border-radius: 50%;
    
    background: #FFAD11;
    box-shadow: 0px 1px 3px 0px #B13000;
}

.comment.big .pulse {
    
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 24px;
    margin-top: 24px;
    border-radius: 50%;
    
    background: rgba(255,173,17,0.35);
    border: 1px solid rgba(255,173,17,0.50);
    opacity: 1;    

    animation-name: pulse, fade;
    animation-duration: 2s, 2s;
    animation-iteration-count: infinite, infinite;
}

@keyframes pulse {
    
    from    { transform: scale(1); }
    to      { transform: scale(2); }
}

@keyframes fade {
    
    from    { opacity: 1; }
    to      { opacity: 0; }
}



#com1 { right: 0.5em; top: 11em; }

#com2 { left: 0.5em; top: 22em; }

.commentplaceholder {
    
    display: none;
}



.opening {
    
    padding: 0 1.875em;
}

.opening p {
    
    font-family: 'Cooper Hewitt Bold', sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
}

a.button {
    
    display: block;
    width: 100%;
    height: 60px;
    
    background: #FFF;
    border: 1px solid #F00877;
    border-radius: 3px;
    box-shadow: 0px 2px 10px 0px rgba(207,208,217,0.80);
    
    font-family: 'Cooper Hewitt Bold', sans-serif;
    font-size: 1.125em;
    text-align: center;
    line-height: 60px;
}


p.note {
    
    font-family: 'Cooper Hewitt Medium', sans-serif;
    text-align: center;
    font-size: 0.75em;
    color: #7A7D8F;
}


section.next {
    
    display: block;
    width: 100%;
    height: 170px;
    margin-top: 25px;
    padding-top: 35px;
    
    text-align: center;
    
    background: #FFF;
    background: -moz-linear-gradient(top,  #f6f6f7 0%, #ffffff 100%), ;
    background: -webkit-linear-gradient(top,  #f6f6f7 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f6f6f7 0%,#ffffff 100%);   
}


section.next {
    
    display: block;
    
    border-top: 1px solid #DDDEE6;
    
    font-family: 'Cooper Hewitt Medium', sans-serif;
    font-size: 1.125em;
    color: #7A7D8F;
}

section.next a {
    
    font-family: 'Cooper Hewitt Bold', sans-serif;
    font-size: 1.5em;
    color: #334DF5;
}

section.next a span {
    
    display: inline-block;
    width: 24px;
    height: 10px;
    
    background: url(../img/right.svg) center center no-repeat;
}



/* ////////// Careers & Edu ////////// */


.careers h2, .facts h2 {
    
    padding-left: 0.625em;
    
    font-size: 3em;
    color: #334DF5;
}

.careers h3 {
    
    font-size: 1.5em;
}

div.job {
    
    padding: 0 1.875em;
}

.job a {
    
    font-family: 'Cooper Hewitt Bold', sans-serif;
    font-size: 1.125em;
}

p.duration {
    
    font-family: 'Cooper Hewitt Bold', sans-serif;
    font-size: 1.125em;
    color: #334DF5;
}

p.job-desc {
    
    line-height: 1.375em;
}

p.job-desc span.highlight {
    
    display: inline-block;
    padding: 0 0.2em;
    margin: 1px 0;
    background: #A9EBFF;
}



/* ////////// Facts ////////// */


.facts {
    
    height: auto;
}

.swipenav div a {
    
    display: inline-block;
    margin: 0 20px;
}



/* ////////// Comments ////////// */


#comments-bcg {
    
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 9997;
    
    background-color: #FFAD11;
    background-color: rgba(255, 173, 17, 0.95);

}

.open-comments {
    
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    z-index: 9998;
}


div.comment-slider.slick-slider {
    
    display: block;
    position: absolute;
    top: 400px;
    z-index: 9999;
    width: 100%;
}

div.comment-detail.slick-slide {
    
    display: block;
    width: 250px;
    height: 300px;
    margin: 50px 20px;
    background: #FFF;
    box-shadow: 0 5px 15px 0 rgba(146, 57, 0, 0.5);
    border-radius: 3px;
    
    text-align: center;
    padding: 2em;
}

.open-comments #close-comments {
    
    display: block;
    position: absolute;
    width: 100px;
    height: 30px;
    left: 50%;
    margin-left: -50px;
    bottom: -30px;
    z-index: 9999;
    
    text-align: center;
}




/* ////////// Slider ////////// */

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* ////////// Rotator ////////// */

.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}


